<section class="match-details">
  <h2>{{ match?.tournamentName || tournamentName }}</h2>
  <div class="match-info-container">
    <!-- Home Player Info -->
    <div class="player-info home-player">
      <img [src]="match?.homePlayer.media.profile" [alt]="match?.homePlayer.firstName + ' ' + match?.homePlayer.surname" class="player-img">
      <h3>{{ match?.homePlayer.firstName }} {{ match?.homePlayer.surname }}</h3>
      <p>Frames Won: <span>{{ match?.homePlayerScore }}</span></p>
      <p>Current Break: <span>{{ homePlayer.currentBreak }}</span></p>
    </div>

    <!-- Match Status -->
    <div class="match-status">
      <h4>Frame {{ frameNumber }}</h4>
      <div class="current-score">
        <span class="score">{{ homeScore }}</span>
        <span class="separator">:</span>
        <span class="score">{{ awayScore }}</span>
      </div>
    </div>

    <!-- Away Player Info -->
    <div class="player-info away-player">
      <img [src]="match?.awayPlayer.media.profile" [alt]="match?.awayPlayer.firstName + ' ' + match?.awayPlayer.surname" class="player-img">
      <h3>{{ match?.awayPlayer.firstName }} {{ match?.awayPlayer.surname }}</h3>
      <p>Frames Won: <span>{{ match?.awayPlayerScore }}</span></p>
      <p>Current Break: <span>{{ awayPlayer.currentBreak }}</span></p>
    </div>
  </div>

  <button class="subscribe-button" (click)="subscribe()">Subscribe</button>

  <div class="frames-score">
    <h3>Frames Score</h3>
    <table>
      <thead>
        <tr>
          <th>Frame</th>
          <th>{{ match?.homePlayer.firstName }} {{ match?.homePlayer.surname }}</th>
          <th>{{ match?.awayPlayer.firstName }} {{ match?.awayPlayer.surname }}</th>
        </tr>
      </thead>
      <tbody>
        @for (frame of frameScores; track frame.frame) {
          <tr>
            <td>{{ frame.frame }}</td>
            <td>{{ frame.player1Score }}</td>
            <td>{{ frame.player2Score }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
